:root {
  --font-header: "Parisienne", cursive;
  --font-main: "Roboto", sans-serif;
  --background-header: #f9f8f6;
  --background-main: #ffffff;
  --background-image-after: #fff8d6;
  --color-sidebar: #e2c4a1;
  --color-header: #9e8a72;
  --color-sub: #ce8f6f;
  --color-main: #818491;
  --size-header: 13px;
  --size-big-header: 55px;
  --size-subling: 30px;
}

.body {
  font-family: var(--font-main);
}
